@charset "UTF-8";
body{
	-ms-overflow-style: none; /* khai báo sử dụng Internet Explorer, Edge */
    scrollbar-width: none; /* sử dụng Firefox */
    overflow-y: scroll; 
}
body::-webkit-scrollbar { 
  display: none; 
}
