<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" th:href="@{/images/shopteam5_logo.png}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">

<title>Trang Chủ - Thống kê</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-2 p-4 shadow"
				style="background-color: #0a3d62; height: 100vh"
				th:insert="~{/admin/menuTaiKhoan.html::menutaikhoan}"></div>
			<div class="col-10 px-0">
				<nav class="navbar navbar-expand-lg shadow-sm"
					style="background-color: #ffffff">
					<div class="container-fluid">


						<div class="collapse navbar-collapse" id="navbarText">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<h2>Thống kê</h2>
							</ul>
							<!-- <span class="navbar-text" id="dropAccount" role="button"
								data-bs-toggle="dropdown" aria-expanded="false"> <span
								th:if="${sessionScope.tenTaiKhoan}"> Xin chào </span> <i
								class="fa-solid fa-user fs-4"
								th:text="${sessionScope.tenTaiKhoan}"></i>
								<ul class="dropdown-menu" aria-labelledby="dropAccount"
									style="left: auto; right: 10px">
									<li><a class="dropdown-item" href="/home">Trang chủ</a></li>
									<li><a class="dropdown-item" href="/doimatkhau">Đổi
											mật khẩu</a></li>
									<li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
								</ul> -->
						</div>
					</div>
				</nav>
				<br>
				<div class="container">

					<ul class="nav nav-tabs" id="myTabContent" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="topProductsTab"
								data-bs-toggle="tab" data-bs-target="#topProducts" type="button"
								role="tab" aria-controls="topProducts" aria-selected="true">Doanh
								thu (Ngày/Tháng/Năm)</button>
						</li>

					</ul>
					<form action="/admin/thongkedoanhthu" method="post">
						<div class="tab-content" id="myTabContent">
							<div style="text-align: center; margin-top: 2%">

								Từ ngày: <input type="date" name="tungay"
									th:value="${param.tungay}"></input> &nbsp; Đến ngày: <input
									type="date" name="denngay" th:value="${param.denngay}"></input>
								&nbsp; Trạng thái: <select id="colorSelect"
									onchange="handleColorChange()" name="trangthai">
									<!-- Giá trị mặc định là "wait" nếu không có giá trị từ model -->
									<option value="wait" th:selected="${trangthai == 'wait'}">Chờ
										xét duyệt</option>
									<option value="approved"
										th:selected="${trangthai == 'approved'}">Đã xét duyệt</option>
									<option value="cancel" th:selected="${trangthai == 'cancel'}">Xét
										duyệt thất bại</option>
									<option value="delivery"
										th:selected="${trangthai == 'delivery'}">Đang giao
										hàng</option>
									<option value="delivered"
										th:selected="${trangthai == 'delivered'}">Đã giao
										hàng</option>
								</select> &nbsp;
								<button type="submit" class="btn-primary">Thống kê</button>

							</div>
							<div class="container">
								<div class="row">
									<div class="col-sm-6">

										<div class="table-responsive mt-3"
											style="max-height: 450px; overflow: auto;">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Mã hóa đơn</th>
														<th>Số lượng sản phẩm</th>
														<th>Ngày đặt hàng</th>
														<th>Tổng tiền</th>
														<th>Trạng thái</th>

													</tr>
												</thead>
												<tbody>
													<tr th:each="item: ${hoaDonDTOList}">
														<td th:text="${item.hoaDon.maHoaDon}"></td>
														<td th:text="${item.soLuong}"></td>
														<td th:text="${item.hoaDon.ngayDatHang}"></td>
														<td th:text="${item.hoaDon.tongTien}"></td>
														<td><span th:if="${item.hoaDon.trangThai == 'wait'}">Chờ
																xét duyệt</span> <span
															th:if="${item.hoaDon.trangThai == 'approved'}">Đã
																xét duyệt</span> <span
															th:if="${item.hoaDon.trangThai == 'cancel'}">Xét
																duyệt thất bại</span> <span
															th:if="${item.hoaDon.trangThai == 'delivery'}">Đang
																giao hàng</span> <span
															th:if="${item.hoaDon.trangThai == 'delivered'}">Đã
																giao hàng</span></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>

									<div class="col-sm-6">
										<center>
											<h4>Tổng kết</h4>
										</center>
										<div class="table-responsive mt-2" style="overflow-x: auto">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Số hóa đơn</th>
														<th>Số lượng sản phẩm</th>
														<th>Tổng tiền</th>

													</tr>
												</thead>
												<tbody>

													<tr>
														<td th:text="${sohoadon}"></td>
														<td th:text="${tongsoluongsanpham}"></td>
														<td th:text="${tongtien}"></td>

													</tr>

												</tbody>
											</table>
										</div>

										<label
											th:text="'Ngày có doanh thu cao nhất:' + ${ngaydoanhthucaonhat}"></label>
										| <label th:text="'Tổng tiền:' + ${tongtiendoanhthucaonhat}"></label>
										<hr>
										<center>
											<h4>So sánh</h4>
										</center>
										<div class="table-responsive mt-3" style="overflow-x: auto">
											<center>
												Từ ngày: <input type="date" name="tungay_sosanh"
													th:value="${param.tungay_sosanh}"></input> &nbsp; Đến ngày:
												<input type="date" name="denngay_sosanh"
													th:value="${param.denngay_sosanh}"></input> &nbsp;<br>
												<br> Trạng thái: <select id="colorSelect"
													onchange="handleColorChange()" name="trangthai_sosanh">
													<!-- Giá trị mặc định là "wait" nếu không có giá trị từ model -->
													<option value="wait"
														th:selected="${trangthai_sosanh == 'wait'}">Chờ
														xét duyệt</option>
													<option value="approved"
														th:selected="${trangthai_sosanh == 'approved'}">Đã
														xét duyệt</option>
													<option value="cancel"
														th:selected="${trangthai_sosanh == 'cancel'}">Xét
														duyệt thất bại</option>
													<option value="delivery"
														th:selected="${trangthai_sosanh == 'delivery'}">Đang
														giao hàng</option>
													<option value="delivered"
														th:selected="${trangthai_sosanh == 'delivered'}">Đã
														giao hàng</option>
												</select>
											</center>
										</div>


										<div class="table-responsive mt-3" style="overflow-x: auto">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Số hóa đơn</th>
														<th>Số lượng sản phẩm</th>
														<th>Tổng tiền</th>
													</tr>
												</thead>
												<tbody>

													<tr>
														<td th:text="${sohoadon_sosanh}"></td>
														<td th:text="${tongsoluongsanpham_sosanh}"></td>
														<td th:text="${tongtien_sosanh}"></td>
													</tr>
												</tbody>
											</table>
										</div>
										<br> <label
											th:text="'Ngày có doanh thu cao nhất: ' +
											${ngaydoanhthucaonhat_sosanh}"></label>&nbsp;&nbsp;&nbsp;&nbsp;
										<label
											th:text="'Tổng doanh thu của ngày cao nhất: '+
											${tongtiendoanhthucaonhat_sosanh}"></label>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript==================================================-->
	<script type="text/javascript" th:src="@{/js/jquery-1.10.2.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.easing.1.3.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.sequence-min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/jquery.carouFredSel-6.2.1-packed.js}"></script>
	<script defer th:src="@{/js/jquery.flexslider.js}"></script>
	<script type="text/javascript" th:src="@{/js/script.min.js}"></script>
	<script type="text/javascript">
		function handleColorChange() {
			var selectedColor = document.getElementById('colorSelect').value;
			console.log('Selected color: ' + selectedColor);
			// Bạn có thể xử lý dữ liệu được chọn ở đây
		}
	</script>
</body>
</html>