<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<link rel="shortcut icon" th:href="@{/images/shopteam5_logo.png}">
<title>ShopTeam 5</title>
<!-- <link href="../css/bootstrap.css" rel="stylesheet"> -->
<!-- <link -->
<!-- 	href="http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,100italic,100" -->
<!-- 	rel='stylesheet' type='text/css'> -->
<!-- <link href="../css/font-awesome.min.css" rel="stylesheet"> -->
<!-- <link rel="stylesheet" href="../css/flexslider.css" type="text/css" -->
<!-- 	media="screen" /> -->
<!-- <link href="../css/sequence-looptheme.css" rel="stylesheet" media="all" /> -->
<!-- <link href="../css/style.css" rel="stylesheet"> -->

<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<!-- <link th:href="@{/css/bootstrap.css}" rel="stylesheet"> -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,100italic,100"
	type="text/css">
<!-- <link th:href="font-awesome.min.css" rel="stylesheet"> -->
<link rel="stylesheet" th:href="@{/css/flexslider.css}" type="text/css"
	media="screen" />
<link th:href="@{/css/sequence-looptheme.css}" rel="stylesheet"
	media="all" />

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<!-- <link th:href="@{/style.css}" th:rel="stylesheet"> -->

<!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script><![endif]-->
</head>
<body>

	<div class="container" th:fragment="navbar">
		<div class="row">
			<div class="col-md-2 col-sm-2">
				<div class="logo">
					<a href="/home/index"> <img
						th:src="@{/images/shopteam5_logo.png}" alt="shopteam5"
						width="100px"></a>
				</div>
			</div>
			<div class="col-md-10 col-sm-10">
				<div class="header_top">
					<div class="row">
						<!-- dangnhap -->
						<div class="col-sm-12">
							<ul class="usermenu">
								<th:block th:if="${session.currentUser == null}">
									<li><a th:href="@{/home/login}" class="log">Đăng nhập</a></li>
									<li><a th:href="@{/home/register}" class="reg">Đăng kí</a></li>
								</th:block>
								<th:block th:unless="${session.currentUser == null}">
									<li><a th:href="@{/home/information}" class="log">Tài
											khoản của tôi</a></li>
									<li><span style="color: white">| &nbsp;&nbsp;&nbsp;
											ID: <span th:text="${session.currentUser}"></span>
									</span></li>
									<li><a th:href="@{/home/log-out}" class="text-light"><i
											class="bi bi-box-arrow-right"></i> Đăng xuất</a></li>
									<th:block th:if="${session.admin != null}">
										<li><a th:href="@{/admin/index}"><i
												class="bi bi-forward-fill"></i> Đến trang quản lý</a></li>
									</th:block>
								</th:block>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="header_bottom">
					<ul class="option">
						<li id="search" class="search">
							<form>
								<!-- 							<input type="text" class="form-control" placeholder="Search"> -->
							</form>
						</li>
						<c:choose>
							<c:when test="${empty sessionScope.user}">
							</c:when>
							<c:otherwise>

								<li class="option-cart"><a href="/cart_products"
									class="cart-icon">cart </a></li>
							</c:otherwise>
						</c:choose>


					</ul>
					<div class="navbar-collapse collapse">

						<ul class="nav navbar-nav">
							<li class="active dropdown"><a href="/index"
								class="dropdown-toggle" data-toggle="dropdown">Trang Chủ</a></li>
							<!-- <li><a href="productgird.html">Nam</a></li> -->
							<li class="dropdown"><a href="" class="dropdown-toggle"
								data-toggle="dropdown">Nam</a>
								<div class="dropdown-menu mega-menu">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<ul class="mega-menu-links">
												<li><a th:href="@{/home/form-ao-nam}">Tất cả áo</a></li>
												<li><a th:href="@{/home/ao-thun-nam}">Áo thun nam</a></li>
												<li><a th:href="@{/home/ao-polo-nam}">Áo Polo</a></li>
												<li><a th:href="@{/home/ao-so-mi-nam}">Áo sơ mi</a></li>
												<li><a th:href="@{/home/ao-len-nam}">Áo len</a></li>
												<li><a th:href="@{/home/ao-hoodie-nam}">Áo Hoodie</a></li>
											</ul>
										</div>
									</div>
								</div></li>
							<li class="dropdown"><a href="" class="dropdown-toggle"
								data-toggle="dropdown">Nữ</a>
								<div class="dropdown-menu mega-menu">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<ul class="mega-menu-links">
												<li><a href="@{/home/form-ao-nu}">Tất cả áo</a></li>
												<li><a href="@{/home/ao-thun-nu}">Áo thun nữ</a></li>
												<li><a href="@{/home/ao-so-mi-nu}">Áo sơ mi</a></li>
												<li><a href="@{/home/ao-bra}">Áo Bra</a></li>
												<li><a href="@{/home/ao-len-nu}">Áo len</a></li>
												<li><a href="@{/home/ao-hoodie-nu}">Áo Hoodie</a></li>

											</ul>
										</div>
									</div>
								</div></li>


						</ul>

					</div>

				</div>

			</div>
		</div>
	</div>

</body>
</html>