<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<link rel="shortcut icon" th:href="@{/images/shopteam5_logo.png}">
<title>ShopTeam 5</title>
<!-- <link href="../css/bootstrap.css" rel="stylesheet"> -->
<!-- <link -->
<!-- 	href="http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,100italic,100" -->
<!-- 	rel='stylesheet' type='text/css'> -->
<!-- <link href="../css/font-awesome.min.css" rel="stylesheet"> -->
<!-- <link rel="stylesheet" href="../css/flexslider.css" type="text/css" -->
<!-- 	media="screen" /> -->
<!-- <link href="../css/sequence-looptheme.css" rel="stylesheet" media="all" /> -->
<!-- <link href="../css/style.css" rel="stylesheet"> -->

<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
<!-- <link th:href="@{/css/bootstrap.css}" rel="stylesheet"> -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,100italic,100"
	 type="text/css">
<!-- <link th:href="font-awesome.min.css" rel="stylesheet"> -->
<link rel="stylesheet" th:href="@{/css/flexslider.css}" type="text/css"
	media="screen" />
<link th:href="@{/css/sequence-looptheme.css}" th:rel="stylesheet" media="all" />
<!-- <link th:href="@{/style.css}" th:rel="stylesheet"> -->

<!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script><![endif]-->
</head>
<body>

<div class="container" th:fragment="navbar">
	<div class="row">
		<div class="col-md-2 col-sm-2">
			<div class="logo">
				<a href="/index"> <img th:src="@{/images/shopteam5_logo.png}"
					alt="shopteam5" width="100px"></a>
			</div>
		</div>
		<div class="col-md-10 col-sm-10">
			<div class="header_top">
				<div class="row">
					<!-- dangnhap -->
					<div class="col-sm-12">
						<ul class="usermenu">
<li><a href="/home/login" class="log">Đăng nhập</a></li>
        <li><a href="/home/register" class="reg">Đăng kí</a></li>
<!-- <c:choose> -->
<!--     <c:when test="${empty sessionScope.quanly and empty sessionScope.user}"> -->
<!--         <li><a href="/trangDangNhap" class="log">Đăng nhập</a></li> -->
<!--         <li><a href="/trangDangKy" class="reg">Đăng kí</a></li> -->
<!--     </c:when> -->
<!--     <c:when test="${not empty sessionScope.quanly and empty sessionScope.user}"> -->
<!--         <li><a href="/admin/trangchuadmin" class="log">Tài khoản của tôi</a></li> -->
<!--         <li><label style="color: white">| &nbsp;&nbsp;&nbsp; ID: ${sessionScope.username}</label></li> -->
<!--     </c:when> -->
<!--     <c:otherwise> -->
<!--         <li><a href="/trangchuauser" class="log">Tài khoản của tôi</a></li> -->
<!--         <li><label style="color: white">| &nbsp;&nbsp;&nbsp; ID: ${sessionScope.user}</label></li> -->
<!--     </c:otherwise> -->
<!-- </c:choose> -->
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="header_bottom">
				<ul class="option">
					<li id="search" class="search">
						<form>
<!-- 							<input type="text" class="form-control" placeholder="Search"> -->
						</form>
					</li>
					<c:choose>
								<c:when test="${empty sessionScope.user}">
								</c:when>
								<c:otherwise>

							<li class="option-cart"><a href="/cart_products"
								class="cart-icon">cart </a></li>
						</c:otherwise>
							</c:choose>
					

				</ul>
				<div class="navbar-collapse collapse">

					<ul class="nav navbar-nav">
						<li class="active dropdown"><a href="/index"
							class="dropdown-toggle" data-toggle="dropdown">Trang Chủ</a></li>
						<!-- <li><a href="productgird.html">Nam</a></li> -->
						<li class="dropdown"><a href="" class="dropdown-toggle"
							data-toggle="dropdown">Nam</a>
							<div class="dropdown-menu mega-menu">
								<div class="row">
									<div class="col-md-6 col-sm-6">
										<ul class="mega-menu-links">
											<li><a href="${pageContext.request.contextPath}/formaonam">Tất cả áo</a></li>
											<li><a href="${pageContext.request.contextPath}/aothunnam">Áo thun nam</a></li>
											<li><a href="${pageContext.request.contextPath}/aopolonam">Áo Polo</a></li>
											<li><a href="/aosominam">Áo sơ mi</a></li>
											<li><a href="/aolennam">Áo len</a></li>
											<li><a href="/aohoodienam">Áo Hoodie</a></li>
										</ul>
									</div>
								</div>
							</div></li>
						<li class="dropdown"><a href="" class="dropdown-toggle"
							data-toggle="dropdown">Nữ</a>
							<div class="dropdown-menu mega-menu">
								<div class="row">
									<div class="col-md-6 col-sm-6">
										<ul class="mega-menu-links">
											<li><a href="/formaonu">Tất cả áo</a></li>
											<li><a href="/aothunu">Áo thun nữ</a></li>
											<li><a href="/aosominu">Áo sơ mi</a></li>
											<li><a href="/aobra">Áo Bra</a></li>
											<li><a href="/aolennu">Áo len</a></li>
											<li><a href="/aohoodienu">Áo Hoodie</a></li>

										</ul>
									</div>
								</div>
							</div></li>
						

					</ul>

				</div>

			</div>

		</div>
	</div>
</div>
	
</body>
</html>