<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" th:href="@{/images/shopteam5_logo.png}">
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
	rel="stylesheet" />
<link th:href="@{/css/css-style.css}" rel="stylesheet" />
<title>Đăng Ký</title>
</head>
<body>
	<div class="de">
		<a href="/home/index"> <img class="logo"
			th:src="@{/images/logoShopTeam5.png}" alt=""></a>
	</div>
	<hr width="1500px">
	<div class="box">
		<div class="container">
			<div
				style="background-color: green; opacity: 0.25; text-align: center; border-radius: 5px 5px;"
				class="input-field">
				<label style="color: white;" th:text="${thongbaodangkythanhcong}"></label>
			</div>
			<div class="top">
				<a href="/home/login" class="dangky">Đăng nhập</a>
				<header>Đăng ký</header>
			</div>

			<br>
			<form action="/dangKy" method="post">
				<div class="input-field">
					<input type="text" class="input" placeholder="Họ và Tên"
						name="hovaten" th:value="${param.hovaten}" /> <i
						class="bx bx-user"></i>
				</div>
				<div class="input-field">
					<input type="text" class="input" placeholder="Tên đăng nhập"
						name="tendangnhap" th:value="${param.tendangnhap}" /> <i
						class="bx bx-user"></i> <label style="color: red; font-size: 10px"
						th:text="${thongbaodangky_tentaikhoan}"></label>
				</div>
				<div class="input-field">
					<input type="password" class="input" placeholder="Mật khẩu" id=""
						name="matkhau" pattern="^(?=.*[A-Z])(?=.*\d).{8,}$"
						title="Ít nhất một chữ in hoa, có cả số và đồng thời đảm bảo ít nhất mật khẩu có 8 ký tự"
						required th:value="${param.matkhau}" /> <i class="bx bx-lock-alt"></i>
				</div>
				<div class="input-field">
					<input type="password" class="input"
						placeholder="Xác nhận mật khẩu" id="" name="xacnhanmatkhau" /> <i
						class="bx bx-lock-alt"></i> <label
						style="color: red; font-size: 10px" th:text="${thongbaodangky}"></label>
				</div>
				<br>
				<div class="input-field"></div>
				<div class="input-field">
					<button class="submit" type="submit">Đăng ký</button>
				</div>
				<div class="two-col"></div>
			</form>
		</div>
	</div>
</body>
</html>